.summary {
    text-align: center;
    max-width: 45rem;
    width: 90%;
    margin: auto;
    margin-top: -10rem;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFE9D1;
    color: #515839;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px #515839;
  }
  
  .summary h2 {
    font-size: 2rem;
    margin-top: 0;
  }

  h4{
    display: inline;
    
  }

  h5{
    text-align: center;
    margin-left: 50px;
    font-size: large;
    display: inline;
  }

  h6{
    margin-bottom: 50px;
  }

 